.company__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 39px 16px;
    text-align: center;
    position: relative;


    @media(min-width: @tablet-width) {
        display: flex;
        padding: 0 24px;
        justify-content: space-between;
        
    }
}

.company__flex-column {
    display: flex;
    flex-direction: column;

    @media(min-width: @tablet-width) {
        max-width: 49%;
        text-align: left;
    }
}

.company__title {
    .title-h2();
    margin: 0;
    margin-bottom: 292px;

    @media(min-width: @mobile-large) {
        margin-bottom: 228px;
    }

    @media(min-width: @tablet-width) {
        margin-bottom: 25px;
    }

    @media(min-width: @tablet-large) {
        margin-bottom: 22px;
    }

    @media(min-width: @desktop-width) {
        margin-bottom: 39px;
    }
}

.company__text {
    line-height: 32px;
    margin: 0;
    margin-bottom: 14px;
    text-align: left;

    @media(min-width: @tablet-width) {
        margin-bottom: 28px;
    }

    @media(min-width: @tablet-large) {
        margin-bottom: 20px;
        
    }

    @media(min-width: @desktop-width) {
        margin-bottom: 35px;
    }
}

.company__button {
    .button-transparent();
    width: 100%;
    margin: 0 auto;

    @media(min-width: @mobile-large) {
        max-width: 216px;
    }

    @media(min-width: @tablet-width) {
        max-width: 295px;
        margin: 0;
    }

    @media(min-width: @desktop-width) {
        max-width: 368px;
    }
}


.company__logo {
    display: block;
}

.company__link {
    display: block;
    width: 288px;
    top: 89px;
    left: calc(50% - 144px);
    position: absolute;

    @media(min-width: @mobile-large) {
        width: 216px;
        top: 90px;
        left: calc(50% - 112px);
    }

    @media(min-width: @tablet-width) {
        min-width: 323px;
        max-width: 50%;
        height: auto;
        margin: 0;
        position: static;
    }

    @media(min-width: @tablet-large) {
        min-width: 452px;
        align-self: center;
    }

    @media(min-width: @desktop-width) {
        width: 563px;
        margin-top: -50px;
    }
}