.company__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 39px 16px;
    text-align: center;

    @media(min-width: @tablet-width) {
        text-align: left;
        vertical-align: top;
        padding: 0 24px;
    }
}

.company__title {
    .title-h2();
    margin: 0;
    margin-bottom: 17px;

    @media(min-width: @tablet-width) {
        max-width: 50%;
        margin-bottom: 25px;
    }

    @media(min-width: @tablet-large) {
        margin-bottom: 22px;
    }

    @media(min-width: @desktop-width) {
        max-width: 49%;
        margin-bottom: 39px;
    }
}

.company__text {
    line-height: 32px;
    margin: 0;
    margin-bottom: 14px;
    text-align: left;

    @media(min-width: @tablet-width) {
        max-width: 50%;
        margin-bottom: 28px;
    }

    @media(min-width: @tablet-large) {
        margin-bottom: 20px;
    }

    @media(min-width: @desktop-width) {
        max-width: 49%;
        margin-bottom: 34px;
    }
}

.company__button {
    .button-transparent();
    width: 100%;
    margin: 0 auto;

    @media(min-width: @mobile-large) {
        max-width: 216px;
    }

    @media(min-width: @tablet-width) {
        max-width: 295px;
        margin: 0;
    }

    @media(min-width: @desktop-width) {
        max-width: 368px;
    }
}

.company__logo {
    width: 288px;
    height: auto;

    @media(min-width: @mobile-large) {
        width: 216px;
    }

    @media(min-width: @tablet-width) {
        width: 323px;
    }

    @media(min-width: @tablet-large) {
        width: 452px;
    }

    @media(min-width: @desktop-width) {
        width: 563px;
    }
}

.company__link {
    display: block;
    margin-bottom: 6px;

    @media(min-width: @tablet-width) {
        float: right;
        margin-top: -129px;
    }

    @media(min-width: @tablet-large) {
        margin-top: -72px;
    }

    @media(min-width: @desktop-width) {
        margin-top: -141px;
    }
}