.navigation__list {
    .list-reset();

    @media(min-width: @desktop-width) {
        display: flex;
        flex-wrap: wrap;
    }
}

.navigation__sub-list {
    .list-reset();
}

.navigation__item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }

    @media(min-width: @desktop-width) {
        margin-right: 24px;
        margin-bottom: 0;

        &:last-child {
            margin-right: 0;
        }
    }
}

.navigation__link {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: @color-text;
}