.onboarding {
    background-image: url("../img/background-mobile-rating.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -6.4em;

    @media(min-width: @mobile-large) {
        background-size: 100%;
        background-position: 0 -7.5em;
        background-image: url("../img/background-ml-rating.svg");
    }

    @media(min-width: @tablet-width) {
        background-image: url("../img/background-tablet-rating.svg");
        background-position: 0 -5.1em;
    }

    @media(min-width: @tablet-large) {
        background-image: url("../img/background-tl-rating.svg");
        background-position: 0 -8.1em;
    }

    @media(min-width: @desktop-width) {
        background-image: url("../img/background-desk-rating.svg");
        background-position: 0 6em;
    }
}

.onboarding__wrapper {
    max-width: 956px;
    margin: 0 auto;
    padding: 12px 16px 21px;
    text-align: left;

    @media(min-width: @mobile-large) {
        padding: 14px 16px 86px;
    }

    @media(min-width: @tablet-width) {
        padding: 141px 24px 191px;
    }

    @media(min-width: @tablet-large) {
        padding: 92px 105px 195px;
    }

    @media(min-width: @desktop-width) {
        padding: 205px 105px 188px;
    }
}

.onboarding__title {
    .title-h2();
    margin: 0;
    margin-bottom: 24px;

    @media(min-width: @tablet-width) {
            margin-bottom: 39px;
    }
}

.onboarding__desc {
    font-size: 16px;
    line-height: 32px;
    margin: 0;
    margin-bottom: 12px;
}

.onboarding__form {
    padding: 0;
}

.onboarding__item {
    border: none;
    padding: 0;
    margin: 0;
}

.onboarding__input {
  background-color: @white-basic;
  border: 1px solid #8f8f8f  ;
  border-radius: 35px;
  padding: 12px 38px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 24px;
  cursor: pointer;  

  &::placeholder  {
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
    color: @color-text;
  }

  @media(min-width: @tablet-width) {
    margin-bottom: 51px;
    width: 70%;
    padding: 16px 38px 16px 60px;
  }

  @media(min-width: @tablet-large) {
    width: 50%;
  }
}

.onboarding__input:hover {
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
}

.onboarding__input:focus {
    border-color: @decor-green;
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
    outline: none;
    -moz-outline: none;
    -webkit-outline: none;
}

.onboarding__input--small {
    @media(min-width: @mobile-large) {
        display: none;
    }
}

.onboarding__input--large {
    display: none;

    @media(min-width: @mobile-large) {
        display: block;
    }
}



//Button
.onboarding__btn--block,
.onboarding__btn--radio,
.onboarding__btn--checkbox,
.onboarding__decor {
   display: none;
}

.onboarding__btn-prev {
    .button-transparent();
    border: 1px solid @color-title;
    width: 100%;
    margin: 0 auto 24px;
    padding: 17px;

    @media(min-width: @mobile-large) {
        max-width: 152px;
        margin: 0;
        padding: 16px;
    }
}

.onboarding__btn-next {
    .button-green();
    width: 100%;
    margin: 0 auto;
    padding: 17px;

    @media(min-width: @mobile-large) {
        max-width: 168px;
        margin: 0;
        padding: 16px;
    }
}

//Active

.onboarding__btn--block.active {
    display: block;

    @media(min-width: @mobile-large) {
        display: flex;
        justify-content: space-between;
    }

    @media(min-width: @tablet-width) {
        width: 70%;
      }
    
      @media(min-width: @tablet-large) {
        width: 50%;
      }
}

.onboarding__input-block {
    position: relative;
    margin: 0;
    margin-bottom: 24px;
}

.onboarding__input-desc {
    margin: 0;
}

.onboarding__input-desc + .onboarding__input-desc {
    margin-top: 24px;
}

.onboarding__decor.active {
    position: absolute;
    display: block;
    width: 86px;
    height: 38px;
    left: 0;
    top: calc(50% - 31px);
    background-color: @decor-green;
    border-radius: 20px;
    box-sizing: border-box;
    transition: all 0.7s ease-out;

    padding: 8px 16px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    color: @white-basic;

    @media(min-width: @mobile-large) {
        top: calc(50% - 19px);
    }

}

.onboarding__input.active {
    padding: 12px 38px 12px 60px;
    margin-left: 28px;
    width: calc(100% - 30px);
    transition: all 0.7s ease-out;

    &::placeholder {
        font-size: 0;
    }

    @media(min-width: @tablet-width) {
        width: calc(70% - 30px);
      }
    
      @media(min-width: @tablet-large) {
        width: calc(50% - 30px);
      }
}

.onboarding__input.error {
    border-color: red;
}

//Input type=radio, type=checkbox
.onboarding__label--radio,
.onboarding__label--checkbox  {
    cursor: pointer;
    display: block;
    background-color: @white-basic;
    border: 1px solid #8f8f8f  ;
    border-radius: 35px;
    padding: 12px 5px 12px 52px;
    box-sizing: border-box;
    width: 100%;
    position: relative;
  
    font-size: 16px;
    font-weight: 400;
    color: @color-title;


}

.onboarding__label--radio  {
    @media(min-width: @tablet-width) {
        width: 70%;
      }
    
      @media(min-width: @tablet-large) {
        width: 50%;
      }
}


.onboarding__label--radio:hover,
.onboarding__label--checkbox:hover {
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
}

.onboarding__input-radio:checked+.onboarding__label--radio,
.onboarding__input-checkbox:checked+.onboarding__label--checkbox {
    margin-left: 12px;
    width: calc(100% - 12px);
    transition: all 0.7s ease-out;
    padding: 12px 5px 12px 40px;
}

.onboarding__input-radio:checked+.onboarding__label--radio {
    @media(min-width: @tablet-width) {
        width: calc(70% - 12px);
      }
    
      @media(min-width: @tablet-large) {
        width: calc(50% - 12px);
      }
}


.onboarding__input-desc--small{
    @media(min-width: @mobile-large) {
        display: none;
    }
}

.onboarding__input-desc--large {
    display: none;

    @media(min-width: @mobile-large) {
        display: block;
    }
}

.onboarding__input-radio+.onboarding__label--radio::before,
.onboarding__input-checkbox+.onboarding__label--checkbox::before {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: 30px;
    display: inline-block;   
    width: 12px;
    height: 12px;
    background-color: @input-green;
    cursor: pointer;
    transition: all 0.7s ease-out;
    z-index: 10;
}

.onboarding__input-radio+.onboarding__label--radio::before {
    border-radius: 50%;
}

.onboarding__input-radio:checked+.onboarding__label--radio::before,
.onboarding__input-checkbox:checked+.onboarding__label--checkbox::before {
    transform: scale(2);
    left:  -8px;
    transition: all 0.7s ease-out;
    background-color: @decor-green;
}

.onboarding__btn--radio.active,
.onboarding__btn--checkbox.active {
    display: block;

    @media(min-width: @mobile-large) {
        display: flex;
        justify-content: space-between;
    }
}

.onboarding__btn--radio.active {
    @media(min-width: @tablet-width) {
        width: 70%;
      }
    
      @media(min-width: @tablet-large) {
        width: 50%;
      }
}

.onboarding__input-block--checkbox {
    @media(min-width: @tablet-width) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: stretch;
    }
}

.onboarding__input-desc--checkbox {
    @media(min-width: @tablet-width) {
        width: calc(50% - 12px);
        margin-bottom: 24px;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:nth-of-type(2)  {
            order: 3;
        }

        &:nth-of-type(3)  {
            order: 5;
            margin-bottom: 0;
        }

        &:nth-of-type(5)  {
            order: 4;
        }

        &:nth-of-type(6)  {
            order: 6;
        }
    }
}

.onboarding__input-block--checkbox  .onboarding__input-desc + .onboarding__input-desc {
    @media(min-width: @tablet-width) {
        margin-top: 0;
    }
}
