.rating__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 39px 16px;
    text-align: center;

    @media(min-width: @tablet-width) {
        padding: 48px 24px;
    }
}

.rating__title {
    .title-h2();
    margin: 0;
    margin-bottom: 17px;
}

.rating__subtitle {
    display: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: @table-title;

    @media(min-width: @tablet-width) {
        display: flex;
        .list-reset();

        margin: 0 0 11px 22px;
    }
}

@media(min-width: @tablet-width) {
    .rating__name {
        flex: 1 0 5em;
    }
    .rating__name:first-child {
        flex: 1 0 16.5em;
        text-align: left;
    }

    .rating__name:last-child {
        text-align: right;
        flex: 1;
    }

    .rating__name:nth-of-type(4) {
        flex: 1 0 8em;
    }
}

.rating__subtitle--intro {
    display: block;
    margin: 0;

    @media(min-width: @mobile-large) {
        width: 25%;
    }

    @media(min-width: @tablet-width) {
        display: none;
    }
}

//Table

.rating__table {
    padding: 15px 22px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 16px rgba(45, 45, 45, 0.1);
    margin-bottom: 24px;
}   

//Cell

.rating__cell {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid #e7eAeA;
    margin-bottom: 15px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 112px;
        height: 140px;
        background-image: url("../img/logo-studia-small.png");
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.1;

        @media(min-width: @mobile-large) {
            top: calc(50% - 70px)
        }

        @media(min-width: @tablet-width) {
            display: none;
        }
    }

    @media(min-width: @mobile-large) {
        align-items: center;
    }


    &:last-of-type {
     border-bottom: none;
     margin-bottom: 0;
    }
}

//Cell point
//flex: flex-grow, flex-shrink, flex-basis;

.rating__desk {
    text-align: left;

    @media(min-width: @mobile-large) {
        flex-grow: 2;
    }

    @media(min-width: @tablet-width) {
        display: flex;
        width: calc(100% - 60px);
        flex-grow: initial;
        align-items: center;
    }
}

.rating__item {
    margin-bottom: 9px;

    @media(min-width: @mobile-large) {
        display: flex;
        column-gap: 1em;
    }

    @media(min-width: @tablet-width) {
        display: block;
        column-gap: 0;
        flex: 0.5 0 4em;
        text-align: center;
    }
}

.rating__company-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: @color-title;
    margin: 0;
}

.rating__text p, 
.rating__value {
    margin: 0;
}

@media(min-width: @tablet-width) {
    .rating__item:first-of-type {
        position: relative;
        padding-left: 73px;
        flex: 0.5 0 10.5em;
        text-align: left;
    }

    .rating__item:first-of-type::before {
        content: "";
        position: absolute;
        left: 0;
        top: calc(50% - 28px);
        width: 45px;
        height: 56px;
        background-image: url("../img/logo-studia-small.png");
        background-repeat: no-repeat;
    }

    .rating__item:nth-of-type(4) {
        flex: 0.5 0 7em;
    }
}

.rating__value--star {
    position: relative;
    padding-left: 24px;

    @media(min-width: @tablet-width) {
        padding-left: 0;
    }
}

.rating__value--buble {
    position: relative;
    padding-left: 24px;

    @media(min-width: @tablet-width) {
        padding-left: 0;
    }
}

.rating__value--star::before,
.rating__value--buble::before  {
    content: "";
    position: absolute;
    top: calc(50% - 8px);
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
}

.rating__value--star::before {
    background-image: url("../img/star.svg");
    
    @media(min-width: @tablet-width) {
        left: calc(50% - 30px);
    }
}

.rating__value--buble::before {
    background-image: url("../img/buble.svg");
    
    @media(min-width: @tablet-width) {
        left: calc(50% - 70px);
    }
}

//Button

.rating__button {
    .button-transparent();
    width: 100%;
    padding: 10px 32px;
    margin: 0 auto;

    @media(min-width: @mobile-large) {
        max-width: 216px;
    }

    @media(min-width: @tablet-width) {
        max-width: 320px;
    }

    @media(min-width: @tablet-large) {
        max-width: 296px;
    }

    @media(min-width: @desktop-width) {
        max-width: 320px;
    }
}

//Checkbox

.rating__check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.rating__check + .rating__check-custom::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #8f8f8f;
    background-color: @white-basic;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;

    @media(min-width: @mobile-large) {
        align-self: center;
        margin-top: 0;
    }
}

.rating__check:hover + .rating__check-custom::before {
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
}

.rating__check:focus + .rating__check-custom::before {
    border-color: @decor-green;
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
}

.rating__check:checked + .rating__check-custom::before {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @white-basic;
}


