.rating {
    background-image: url("../img/background-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 0 -6.4em;

    @media(min-width: @mobile-large) {
        background-size: 100%;
        background-position: 0 -7.5em;
        background-image: url("../img/background-ml-rating.svg");
    }

    @media(min-width: @tablet-width) {
        background-image: url("../img/background-tablet-rating.svg");
        background-position: 0 -5.1em;
    }

    @media(min-width: @tablet-large) {
        background-image: url("../img/background-tl-rating.svg");
        background-position: 0 -8.1em;
    }

    @media(min-width: @desktop-width) {
        background-image: url("../img/background-desk-rating.svg");
        background-position: 0 6em;
    }
}

.rating__wrapper {
    max-width: @desktop-width;
    margin: 0 auto;
    padding: 39px 16px;
    text-align: center;

    &--top {
        padding: 69px 16px 14px;
    }

    @media(min-width: @mobile-large) {
        &--top {
            padding: 20px 16px 18px;
        }   
    }

    @media(min-width: @tablet-width) {
        padding: 155px 24px 0;

        &--top {
            padding: 134px 24px 18px;
        }   
    }

    @media(min-width: @tablet-large) {
        padding: 156px 24px 0;

        &--top {
            padding: 134px 24px 0;
        }   
    }

    @media(min-width: @desktop-width) {
        padding: 151px 24px 0;

        &--top {
            padding: 158px 24px 0;
        } 
    }
}

.rating__title {
    .title-h2();
    margin: 0;
    margin-bottom: 17px;

    @media(min-width: @tablet-width) {
        margin-bottom: 27px;

        &--top {
            margin-bottom: 21px;
        }
    }

    @media(min-width: @tablet-large) {
        &--top {
            margin-bottom: 27px;
        }
    }

    @media(min-width: @desktop-width) {
        margin-bottom: 42px;
    }
}

.rating__subtitle {
    display: none;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: @table-title;

    @media(min-width: @tablet-width) {
        display: flex;
        .list-reset();

        padding: 0 0 0 22px;
        margin-bottom: 11px;

        &--top {
            font-size: 14px;
            line-height: 19px;
        }
    }

    @media(min-width: @tablet-large) {
        padding: 0 32px 0 31px;

        &--top {
            font-size: 16px;
            line-height: 22px;
        }
    }

    @media(min-width: @desktop-width) {
        padding: 0 45px 0 31px;

        &--top {
            padding: 0 41px; 
        }
    }
}

@media(min-width: @tablet-width) {
    .rating__name {
        flex: 1 0 5em;
    }
    .rating__name:first-child {
        flex: 1 0 15.5em;
        text-align: left;
    }

    .rating__name:last-child {
        text-align: right;
        flex: 1;
    }

    .rating__name:nth-of-type(4) {
        flex: 1 0 8em;
    }

    .rating__name--check span {
        cursor: pointer;
        display: inline-block;
        width: 12px;
        height: 8px;
        background: url(../img/arrow-green.svg) no-repeat center;
        padding-left: 5px;
    }
}

@media(min-width: @tablet-large) {
    .rating__name:first-child  {
        flex: 1 0 9.5em;
    }

    .rating__name:last-child {
        flex: 1 0 3.5em;
    }

    .rating__name:nth-of-type(4) {
        flex: 1 0 5em;
    }
}

@media(min-width: @desktop-width) {
    .rating__name:first-child {
        flex: 1 0 15em;
    }

    .rating__name:last-child {
        flex: 1 0 2em;
    }
}

.rating__subtitle--intro {
    display: block;
    margin: 0;

    @media(min-width: @mobile-large) {
        width: 25%;
    }

    @media(min-width: @tablet-width) {
        display: none;
    }
}

.rating__subtitle--custom {
    @media(min-width: @mobile-large) {
    width: 30%;
    }
}

.rating__item--safety .rating__subtitle--custom  {
    width: 45%;

    @media(min-width: @mobile-large) {
        width: 30%;
        }
}

.rating__subtitle--tablet-custom {
    @media(min-width: @tablet-width) {
        justify-content: space-between;
        padding: 0 8px 0 24px;
    }

        @media(min-width: @tablet-large) {
            padding: 0 42px 0 32px;
        }

        @media(min-width: @desktop-width) {
            padding: 0 52px 0 32px;
        }
}

.rating__subtitle--tablet-custom .rating__name {
    @media(min-width: @tablet-width) {
        flex: 1 0 0;
    }
}

.rating__subtitle--tablet-custom .rating__name:first-child {
    @media(min-width: @tablet-width) {
        flex: 17.5em 0 0;
    }
} 

.rating__subtitle--tablet-custom .rating__name:nth-child(4) {
    @media(min-width: @tablet-width) {
        flex: 9.5em 0 0;
    }
} 

.rating__subtitle--tablet-user {
    @media(min-width: @tablet-width) {
        justify-content: space-between;
        padding: 0 0 0 24px;
    }

    @media(min-width: @desktop-width) {
        padding: 0 24px 0 32px;
    }
}

.rating__subtitle--tablet-user .rating__name {
    @media(min-width: @tablet-width) {
        flex: 0 0 0;
    }
}

.rating__subtitle--tablet-user .rating__name--check {
    @media(min-width: @tablet-width) {
        flex: 4.5em 0 0;
    }
}

.rating__subtitle--tablet-user .rating__name--value,
.rating__subtitle--tablet-user .rating__name--rew  {
    @media(min-width: @tablet-width) {
        flex: 5.5em 0 0;
    }
}

.rating__subtitle--tablet-user .rating__name--rew {
    @media(min-width: @tablet-large) {
        flex: 10em 0 0;
    }
}

.rating__subtitle--tablet-user .rating__name:first-child {
    @media(min-width: @tablet-width) {
        flex: 12em 0 0;
    }

    @media(min-width: @tablet-large) {
        flex: 16em 0 0;
    }

    @media(min-width: @desktop-width) {
        flex: 17em 0 0;
    }
} 

//Table

.rating__table {
    padding: 15px 24px;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25), 0 0 16px rgba(45, 45, 45, 0.1);
    margin-bottom: 24px;
    background-color: @white-basic;

    @media(min-width: @mobile-large) {
        padding: 16px 24px;

        &--top {
            padding: 13px 24px;
        }
    }

    @media(min-width: @tablet-width) {
        padding: 28px 24px 16px;
        margin-bottom: 38px;

        &--top {
            padding: 15px 24px;
        }
    }

    @media(min-width: @tablet-large) {
        padding: 30px 32px;

        &--top {
            padding: 32px 32px 16px;
        }
    }

    @media(min-width: @desktop-width)  {
        padding: 30px 54px 30px 32px;
        margin-bottom: 62px;

        &--top {
            padding: 32px 50px 32px 40px; 
        }
    }
}   

//Cell

.rating__cell {
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid #e7eAeA;
    padding-bottom: 18px;
    margin-bottom: 15px;
    position: relative;

    &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 4px;
       }

       &--custom {
        flex-direction: column;
        text-align: left;
       }

    @media(min-width: @mobile-large) {
        padding-bottom: 15px;
        margin-bottom: 13px;
        align-items: center;

        &:last-of-type {
            padding-bottom: 0;
        }

        &--custom {
            align-items: flex-start;
        }
    }

    @media(min-width: @tablet-width) {
        padding-bottom: 30px;
        margin-bottom: 30px;

        &--top {
            padding-bottom: 31px;
            margin-bottom: 32px;
        }

        &--custom {
            flex-direction: row;
            align-items: center;
        }
    }

    @media(min-width: @tablet-large) {
        padding-right: 28px;
        padding-bottom: 27px;
        margin-bottom: 33px;

        &--top {
            padding-bottom: 29px;
            margin-bottom: 34px;
        }
    }

    @media(min-width: @desktop-width) {
        padding-right: 18px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
    
}

.rating__custom-long .rating__cell {
    @media(min-width: @tablet-large) {
        padding-right: 0;
    }
}

//Cell point
//flex: flex-grow, flex-shrink, flex-basis;

.rating__desk {
    text-align: left;

    @media(min-width: @mobile-large) {
        flex-grow: 2;
    }

    @media(min-width: @tablet-width) {
        display: flex;
        width: calc(100% - 60px);
        flex-grow: initial;
        align-items: center;
    }

    @media(min-width: @tablet-large) {
        width: calc(100% - 106px);
    }
}

//Item - all size
.rating__item {
    margin-bottom: 10px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &--safety {
        display: flex;
    }

    @media(min-width: @mobile-large) {
        display: flex;
        margin-bottom: 9px;
    }

    @media(min-width: @tablet-width) {
        display: block;
        flex: 0.5 0 4em;
        text-align: center;
        margin-bottom: 0;
    }

    @media(min-width: @tablet-large) {
        flex: 0.5 0 2em;
    }
}

//Item:nth-child - tablet

@media(min-width: @tablet-width) {
    .rating__item:first-of-type {
        position: relative;
        padding-left: 73px;
        flex: 0.5 0 9.5em;
        text-align: left;
    }

    .rating__item:nth-of-type(4) {
        flex: 0.5 0 6.5em;
    }
}

//Item:nth-child - tablet-large

@media(min-width: @tablet-large) {
    .rating__item:first-of-type {
        flex: 0.5 0 2em;
    }

    .rating__item:nth-of-type(4) {
        flex: 0.5 0 2.5em;
    }
}

//Item:nth-child - desktop 

@media(min-width: @desktop-width) {
    .rating__item:first-of-type {
        flex: 0.5 0 7em;
    }
}

//Item-custom
.rating__item--custom {
    width: 100%;

    @media(min-width: @tablet-width) {
        flex: 3em 0 0;

        &:first-of-type {
            flex: 9em 0 0; 
        }

        &:nth-of-type(4) {
            flex: 8em 0 0; 
        }
    }

    @media(min-width: @tablet-large) {
        flex: 5em 0 0;
    }

    @media(min-width: @desktop-width) {
        flex: 4em 0 0;
    }
}

.rating__item--user:first-of-type {
    @media(min-width: @tablet-width) {
        padding-left: 0;
    }

    @media(min-width: @tablet-large) {
        padding-left: 76px;
        flex: 10em 0 0; 
    }

    @media(min-width: @desktop-width) {
        flex: 11em 0 0;
    }
}

.rating__custom-long .rating__item--custom:nth-of-type(4) {
    @media(min-width: @tablet-width) {
        flex: 3em 0 0;
    }

    @media(min-width: @tablet-large) {
        flex: 8em 0 0; 
    }
}

.rating__custom-long .rating__item--custom:last-of-type {
    @media(min-width: @tablet-large) {
        flex: 4em 0 0;
    }
}


//Fonts&decor

.rating__company-name {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: @color-title;
    margin: 0;
}

.rating__text p, 
.rating__value {
    margin: 0;
}

.rating__value svg {
    padding-top: 4px;
}

.rating__value--star {
    position: relative;
    padding-left: 24px;

    @media(min-width: @tablet-width) {
        padding-left: 0;
    }
}

.rating__value--buble {
    position: relative;
    padding-left: 24px;

    @media(min-width: @tablet-width) {
        padding-left: 28px;
    }

    @media(min-width: @tablet-large) {
        padding-left: 17px;
    }
}

.rating__value--buble span {
    @media(min-width: @tablet-width) {
        display: none;
    }

    @media(min-width: @tablet-large) {
        display: inline;
    }
}

.rating__value--star::before,
.rating__value--buble::before  {
    content: "";
    position: absolute;
    top: calc(50% - 5px);
    left: 0;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;

    @media(min-width: @mobile-large) {
        top: calc(50% - 8px);
    }

    @media(min-width: @tablet-width) {
        top: calc(50% - 6px);
    }
}

.rating__value--star::before {
    background-image: url("../img/star.svg");

    @media(min-width: @tablet-width) {
        left: 15px;
    }

    @media(min-width: @tablet-large) {
        left: 45px;
    }

    @media(min-width: @desktop-width) {
        left: 65px;
    }
}

.rating__value--buble::before {
    background-image: url("../img/buble.svg");

    @media(min-width: @desktop-width) {
        left: 25px;
    }
}

.rating__item--custom .rating__value--star,
.rating__item--custom .rating__value--buble {
    padding-left: 24px;
}

.rating__item--custom .rating__value--star::before {
    left: 0;

    @media(min-width: @tablet-large) {
        left: 15px;
    }

    @media(min-width: @desktop-width) {
        left: 0;
    }
}

.rating__item--custom .rating__value--buble::before {
    left: 0;
}

.rating__item--custom .rating__value--buble {
    @media(min-width: @tablet-large) {
        padding-left: 15px;
    }

    @media(min-width: @desktop-width) {
        padding-left: 20px;
    }
}


//Button

.rating__button {
    .button-transparent();
    width: 100%;
    margin: 0 auto;

    @media(min-width: @mobile-large) {
        max-width: 216px;
    }

    @media(min-width: @tablet-width) {
        max-width: 320px;
    }

    @media(min-width: @tablet-large) {
        max-width: 296px;
    }

    @media(min-width: @desktop-width) {
        max-width: 368px;
      }
}

//Checkbox

.rating__check {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    position: absolute;
}

.rating__check-custom {
    z-index: 10;
}

.rating__check + .rating__check-custom::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #8f8f8f;
    background-color: @white-basic;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    margin-top: 10px;

    @media(min-width: @mobile-large) {
        align-self: center;
        margin-top: 0;
    }
}

.rating__check:hover + .rating__check-custom::before {
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
}

.rating__check:focus + .rating__check-custom::before {
    border-color: @decor-green;
    box-shadow: 0px 4px 4px 0 rgba(113, 113, 113, 0.25);
}

.rating__check:checked + .rating__check-custom::before {
    background-image: url("../img/check.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: @white-basic;
}

//link
.rating__img {
    position: absolute;
    width: 112px;
    height: 140px;
    opacity: 0.1;
    right: 0;
    top: 0;
    z-index: 0;


    @media(min-width: @mobile-large) {
        top: calc(50% - 83px);
        width: 122px;
        height: 152px;
    }

    @media(min-width: @tablet-width) {
        width: 45px;
        height: 56px;
        left: 0;
        top: calc(50% - 28px);
        transition: all 0.7s ease-out;
        opacity: 1;

        &--custom {
            opacity: 0.1;
        }
    }

    @media(min-width: @tablet-large) {
        &--custom {
        opacity: 1;
        }
    }
}


.rating__item-link p {
    color: @color-text;
}

.rating__item-link:hover .rating__underline {
    text-decoration: underline;
    text-underline-offset: 2px;
} 

.rating__item-link:active {
    opacity: 0.7;
}


.rating__item-link:hover .rating__img {
    cursor: auto;

    @media(min-width: @tablet-width) {
    transform: scale(1.2);
    transition: all 0.7s ease-out;
    cursor: pointer;
    }
}

.rating__link-reviews {
    color: @color-text;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 2px;  
    }

    &:active {
        opacity: 0.7;
    }
}
