/**
* Брейкпоинты
* desktop = 320 480 720 980 или 1152px
*/
@mobile-width: 320px;
@mobile-large: 480px;
@tablet-width: 720px;
@tablet-large: 980px;
@desktop-width: 1152px;

/*Основные цвета*/
@color-text: #717171;
@color-title: #3f3e3e;
@black-basic: #000000;
@white-basic: #ffffff;
@decor-green: #4ba998;
@table-title: #799783;
@burger-color: #424242;
@input-green: #b0e1d8;

